<h1>We are in the ratings layout</h1>

<%=link_to "All Games", games_path %>
<%=link_to "New Game", new_game_path %>
<%=link_to "New Rating", new_rating_path %>
<%=link_to "All Ratings", ratings_path %>
<%=yield%>